.ctn-question{
    width: 80vw;
    height: 30vh;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 450px;
}
:root {
    --current-background: url("../img/default.jpg");
}

body {
    background-image: var(--current-background);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
  

.fond{
    top: 0;
    position: absolute;
    z-index: -1;
}

.reponse{
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.ctn-question button {
    max-width: 200px;
    min-height: auto;
    height: 100px;
    background-color: #8B4513; 
    color: #F4A460; 
    border: 3px solid #A0522D; 
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Courier New', monospace; 
    text-shadow: 1px 1px 2px black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px; 
}

button:hover {
    background-color: #A0522D; 
    color: white;
}

.question{
    min-width: auto;
    max-width: 70%;
    background-color: #FAEBD7;
    border: 2px solid #8B4513; 
    padding: 20px;
    margin: 20px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 0 0 10px #A0522D, 0 0 10px #000; 
    border-radius: 12px;
    position: relative;
    align-items: center;
}

.question::before, .question::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 20%;
      border-radius: 50%;
}
