.ctn-question{
    width: 80vw;
    height: 30vh;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 550px;
}

body{
    overflow: hidden;
}

.fond{
    top: 0;
    position: absolute;
    z-index: -1;
}

.reponse{
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #8B4513; /* Couleur brun qui rappelle le bois d'un navire */
    color: #F4A460; /* Couleur sable */
    border: 3px solid #A0522D; /* Bordure plus foncée */
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Courier New', monospace; /* Police qui évoque les écrits à la main */
    text-shadow: 1px 1px 2px black;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    border-radius: 8px; /* Coins légèrement arrondis */
}

button:hover {
    background-color: #A0522D; /* Changement de couleur au survol */
    color: white;
}

.question{
    min-width: auto;
    max-width: 70%;
    background-color: #FAEBD7; /* Couleur parchemin */
    border: 2px solid #8B4513; /* Bordure brun foncé */
    padding: 20px;
    margin: 20px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 0 0 10px #A0522D, 0 0 10px #000; /* Ombre interne et externe pour effet brûlé/froissé */
    border-radius: 12px;
    position: relative;
    align-items: center;
}

.question::before, .question::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 20%;
      border-radius: 50%;
}

