*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    background-image: url("../img/background-login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.ctn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ctn-form input[type="text"] {
    font-size: 1.7em;
    text-align: center;
    border: none;
    background-color: transparent;
    margin-bottom: 20px;
}

.ctn-form input[type="text"]::placeholder {
    color: black
}

.form-items {
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px; 
}

.form-items img {
    width: 5vw;
    padding: 10px;
}

input:focus {
    outline: none;
}

label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 }
  
label:hover {
 transform: scale(1.2);
 transition: transform 0.2s ease-in-out;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-questions{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.form-questions input {
    margin-top: 20px;
}

.form-submit button {
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; 
}

.form-submit button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

label img {
    width: 150px;
    height: 150px;
}

.form-items-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.ctnprofil{
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 75vh;
    background-color: #FAEBD7; /* Couleur parchemin */
    border: 2px solid #8B4513; /* Bordure brun foncé */
    padding: 20px;
    margin-left: 33.5vw;
    margin-top: 100px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
    box-shadow: inset 0 0 10px #A0522D, 0 0 10px #000; /* Ombre interne et externe pour effet brûlé/froissé */
    border-radius: 12px;
    position: relative;
    align-items: center;
    z-index: 1;
}

.ctnprofil::before, .ctnprofil::after {
    content: "";
    position: absolute;
    width: 20%;
    border-radius: 50%;
}

.fond{
    z-index: -1;
    position: absolute;
    top: 0;
}