<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/game.css">
    <link rel="stylesheet" href="../assets/css/shop.css">
    <title>Game</title>
</head>
<body>
    <nav>
        <div class="ctn">
            <div class="ctn-profil">
                <div class="picture">
                    <a href="/profil"><img src="../assets/img/profil.png" alt="profil"></a>
                </div>
                <div class="name">
                    <p><%= joueur.pseudo %></p>
                </div>
            </div>
            <div class="gold">
                <p><%= joueur.gold %></p><span><img class="piece" src="../assets/img/gold.png" alt=""></span>
            </div>
        </div>
    
        <div class="ctn-bas">
            <img src="../assets/img/dead.png" class="mort">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="boat">
                    <img src="../assets/img/boat.png" alt="boat">
                </div>
            </div>
            <img src="../assets/img/or.png" class="coffre">
        </div>
    </nav>

    <div class="ctn-question">
        <div class="question">
            <h1 id="question-h1"></h1>

        </div>
        <div class="reponse">
            <div class="reponse1">
                <button id="rep-1"></button>
            </div>
            <div class="pass-question" style="display: none;">
                <button id="pass">Continuer</button>
            </div>
            <div class="reponse2">
                <button id="rep-2"></button>
            </div>

        </div>
    </div>

    <div class="ctnprofil" style="display : none;">
        <h1 class="titleshop">BOUTIQUE</h1>
        <div class="ctnobjet">
            <div class="left">
                <div class="objet1">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Ruffian_Sea_Dog_Blunderbuss.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>fusil</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>
                </div>
                <div class="objet2">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Rogue_Sea_Dog_Compass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>compass</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>                    
                </div>
                <div class="objet3">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Rogue_Sea_Dog_Spyglass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>longue vue</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="objet4">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Royal_Revenge_Pistol.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>pistolet dragon</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>
                </div>
                <div class="objet5">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Obsidian_Eye_of_Reach.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>fusil préc</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>
                </div>
                <div class="objet6">
                    <div class="imgandtext">
                        <div class="ctnimg">
                            <img src="../assets/img/Black_Dog_Cutlass.webp" alt="objet1" class="imgobjet">
                        </div>
                        <div class="ctntext">
                            <h2>épée</h2>
                            <p>description de l'objet</p>
                            <button>ACHETER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>