<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/game.css">
    <title>Game</title>
</head>
<body>
    <nav>
        <div class="ctn">
            <div class="ctn-profil">
                <div class="picture">
                    <img src="../assets/img/profil.png" alt="profil">
                </div>
                <div class="name">
                    <p><%= joueur.pseudo %></p>
                </div>
            </div>
            <div class="gold">
                <p><%= joueur.gold %></p><span><img class="piece" src="../assets/img/gold.png" alt=""></span>
            </div>
        </div>
    
        <div class="ctn-bas">
            <img src="../assets/img/dead.png" class="mort">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="boat">
                    <img src="../assets/img/boat.png" alt="boat">
                </div>
            </div>
            <img src="../assets/img/or.png" class="coffre">
        </div>
    </nav>

    <img src="../assets/img/background-login.jpg" class="fond">

    <div class="ctn-question">
        <div class="question">
            <h1 id="question-h1"></h1>

        </div>
        <div class="reponse">
            <div class="reponse1">
                <button id="rep-1"></button>
            </div>
            <div class="reponse2">
                <button id="rep-2"></button>
            </div>
        </div>
    </div>
</body>
<script>

console.log(<%= Events.event1 %>)

</script>
</html>