<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <title>Game</title>
</head>
<body>
    <nav>
        <div class="ctn">
            <div class="ctn-profil">
                <div class="picture">
                    <img src="../assets/img/profil.png" alt="profil">
                </div>
                <div class="name">
                    <p>YoHuTo</p>
                </div>
            </div>
            <div class="gold">
                <p>1000</p><span><img class="piece" src="../assets/img/gold.png" alt=""></span>
            </div>
        </div>
    
        <div class="ctn-bas">
            <img src="../assets/img/dead.png" class="mort">
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="boat">
                    <img src="../assets/img/boat.png" alt="boat">
                </div>
            </div>
            <img src="../assets/img/or.png" class="coffre">
        </div>
    </nav>
</body>
</html>