<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/login.css">
    <link rel="stylesheet" href="../assets/css/navbar.css">
</head>
<body>
    <nav>
        <div class="ctn"></div>
        <div class="ctn-bas"></div>
    </nav>
    <div class="ctnprofil">
        <h1 class="titleprofil">LOGIN</h1>
        <div class="ctn-form">
            <form action="/submit-pseudo" method="post">
                <input type="text" name="pseudo" placeholder="Entrez votre Pseudo">
    
                <h1 class="form-items-title">
                    Choisissez vos items :
                </h1>
    
                <label for="radio-item-1"><img src="../assets/img/Rogue_Sea_Dog_Compass.webp" alt="" /></label>
                <input type="radio" name="radio-item" id="radio-item-1" value="1">
    
                <label for="radio-item-2"><img src="../assets/img/Rogue_Sea_Dog_Spyglass.webp" alt="" /></label>
                <input type="radio" name="radio-item" id="radio-item-2" value="2">
    
                <label for="radio-item-3"><img src="../assets/img/Black_Dog_Cutlass.webp" alt="" /></label>
                <input type="radio" name="radio-item" id="radio-item-3" value="3">
    
                <div class="form-items-description">
    
                </div>
    
                <div class="form-questions">
                    <div class="question">As-tu déjà navigué?</div>
                    <div class="checkbox">
                        <input type="radio" name="navigation" value="Oui"> Oui
                        <input type="radio" name="navigation" value="Non"> Non
                    </div>
                    <br>
    
                    <div class="question">As-tu peur de la mort?</div>
                    <div class="checkbox">
                        <input type="radio" name="mort" value="Oui"> Oui
                        <input type="radio" name="mort" value="Non"> Non
                    </div>
                    <br>
    
                    <div class="question">Aimes-tu l'alcool?</div>
                    <div class="checkbox">
                        <input type="radio" name="alcool" value="Oui"> Oui
                        <input type="radio" name="alcool" value="Non"> Non
                    </div>
                    <br>
    
                    <div class="form-submit">
                        <button type="submit">Valider</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

</body>
<script>
    if (window.location.search.includes('error=invalid-pseudo')) {
        alert("Pseudo non valide. Veuillez choisir un autre pseudonyme.");
    } else if (window.location.search.includes('error=missing-item')) {
        alert("Veuillez sélectionner un objet.");
    } else if (window.location.search.includes('error=missing-question-answer')) {
        alert("Veuillez répondre à toutes les questions.");
    }

    let description1 = "Permet au joueur de gagner de l'alignement"
    let description2 = "Permet au joueur de gagner de l'or"
    let description3 = "Permet au joueur de gagner de l'alignement ainsi que de l'or"

    let radioItem1 = document.getElementById('radio-item-1')
    let radioItem2 = document.getElementById('radio-item-2')
    let radioItem3 = document.getElementById('radio-item-3')

    let formItemsDescription = document.querySelector('.form-items-description')

    radioItem1.addEventListener('click', () => {
        formItemsDescription.innerHTML = description1
    })

    radioItem2.addEventListener('click', () => {
        formItemsDescription.innerHTML = description2
    })

    radioItem3.addEventListener('click', () => {
        formItemsDescription.innerHTML = description3
    })
</script>
</html>
