<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=*, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/navbar.css">
</head>
<body>
    <form action="/submit-pseudo" method="post">
        <input type="text" name="pseudo" placeholder="Entrez votre Pseudo">
        <input type="submit" value="Soumettre">
    </form>
    <nav>
        <div class="ctn">
            <div class="ctn-profil">
                <div class="picture">
                    <img src="../assets/img/profil.png" alt="profil">
                </div>
                <div class="name">
                    <p>YoHuTo</p>
                </div>
            </div>
            <div class="gold">
                <p>1000</p><span><img class="piece" src="../assets/img/gold.png" alt=""></span>
            </div>
        </div>

        <div class="ctn-bas">
            <div class="bar">
                <p>coucou</p>
            </div>
            <div class="sac">
                <img src="../assets/img/sac.png" alt="sac">
            </div>
        </div>
    </nav>
</body>
</html>